/* body {
    background: #223;
    color: #bbc;
    font-family: dosis;
}
td,
th {
    text-align: left;
    padding: 0.1rem 0.4rem;
}
select {
    padding: 0.2rem;
    background: #445;
    color: #ddf;
    border: none;
}
* {
    font-family: inherit;
} */
